
@import "~bootstrap/scss/bootstrap";

/* BASE - Base style, mixins, variables, etc */
@import 'base/variables';
@import 'base/base';
@import 'base/typos';

/* LAYOUTS */
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/sections';

/* SECTIONS */
@import 'sections/contact';
@import 'sections/cardSwitch';


/* OTHER MODULES */
@import 'modules/helpers';
@import 'modules/elements';
@import 'modules/buttons';
@import 'modules/responsive';
@import 'modules/skills';
@import 'modules/servicebox';
@import 'modules/clients';
@import 'modules/slick';
